body{
    margin:0;
    font-family:Arial;
    background:#0f172a;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#020617;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
}

/* gradient text */
#typing{
    background: linear-gradient(90deg,#00f2ff,#7c3aed,#ff0080);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}